html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  display: flex;
  background: white;
  overflow: hidden;
  height: 100%;

  #tab-content-container {
    width: 100%;
    height: 100%;
  }
}

